{% extends 'base.html.twig' %}

{% block title "All best pins!" %}

{% block body %}
	<main>
		{% if pins|length > 0 %}

			<h1 class="text-center text-muted mb-4">{{pluralize(pins|length, 'Pin') }}</h1>

			{% for row in pins|batch(3) %}
				{# batch() regroupe #}
				<div class="row bm-5">
					{% for pin in row %}
						<div class="col-md-4">
							<article class="pin bg-white rounded shadow">
								<div class="mw-100 overflow-hidden">
									<a href="{{ path('app_pin_show', {id: pin.id}) }}">
										<img class="w-100 rounded-top" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/img/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}">
									</a>
								</div>
								<h2 class="h5 ps-3 pt-3 text-muted">
									<a href="{{ path('app_pin_show', {'id': pin.id}) }}">{{ pin.title }}</a>
								</h2>
								{# <p>{{ pin.description|u.truncate(10, '...', false) }}</p> #}
								<p class="pb-3 ps-3 text-muted">
									<small>
										Submitted
										{{ pin.updatedAt|ago }}
										by NAME_USER
									</small>
								</p>
							</article>
						</div>
					{% endfor %}
				</div>
			{% endfor %}

		{% else %}

			<h1 class="text-center mt-5">BE THE FIRST !</h1>
			<a href="{{ path('app_pin_new') }}">Create new pin</a>

		{% endif %}
	</main>
{% endblock %}
